.hw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 600px;
    min-height: 600px;
}


.buttonsContainer {
    display: flex;
    flex-direction: row;
}

.responseContainer {

    display: flex;
    flex-direction: row;
}

.imageContainer {

}

.image {
}

.textContainer{

}

.code {
}

.text {
    text-align: center;

}
.info {
}